.title{
    color:red;
    font-size: 3rem;
    text-align: center;
}
.list {
  
  display:flex;
  gap:40px;
  justify-content: center;
  padding: 20px 0;
 
}
.list li{

        list-style: none;
      
}
